header {
  text-align: right;
}

h1 {
  font-style: italic;
  background-color: #ffe483;
  color: black;
  text-align: center;
}

main {
  text-align: center;
}

body {
  background-color: #86f861;
  font-family: Segoe UI, Roboto, Helvetica, Arial, serif;
  color: black;
  display: flex;
  flex-direction: column;
}

.button {
  border-color: #ffe483;
  background-color:  #ffe483;
}
